body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #6c63ff;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin: 0;
}

form {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    color: #6c63ff;
}

form input, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #6c63ff;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #5753d6;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul li strong {
    color: #6c63ff;
}

a {
    color: #6c63ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination a, .pagination span {
    color: #6c63ff;
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid #6c63ff;
    border-radius: 4px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #6c63ff;
    color: #fff;
}

.pagination span {
    background-color: #6c63ff;
    color: #fff;
}
